*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #181818;
  /*background: linear-gradient(rgb(13, 13, 63), #011222, rgb(12, 12, 53), #011222 100%);*/
  height: 100dvh;
  max-width: 100%;
  position: relative;
  font-family: 'poppins';
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}

a{
  text-decoration: none;
}